/*
 * Variables
 * Use theme.json to establish main variables, define custom global variables here
 */

:root {
	--blog-list-columns: 4;
	--blog-list-gap-vertical: 64px;
	--blog-list-gap-horizontal: 20px;
}
